
@font-face {
    font-family: josefinSans;
    src: url(font/JosefinSans-Medium.ttf);
}
ul{
    font-family: josefinSans;
}
.espacio {
    margin: 15px;
}
.rectangulo {
    width: 100%;
    height: 30px;
    background-color: #eec7bd;
    margin: 0%;
    padding: 0%;
    border: 0%;
    outline: 0%;
}
.redes {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;   
}
.redes li {
    display: inline-block;
}
.redes a {
    padding: 5px;
}
h1{
    font-size: josefinSans;
    text-align: center;
}
.color{
    color: #8a8b7a;;
}
.img{
    width: 90%;
    margin: 10px;
    align-content: center;
}
div.gallery {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 380px;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .centro{
      margin-bottom: 60px;
  }
  .novedades {
    font-family: josefinSans;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center
}
.texto1 {
    color: #e79c8a;
}
.text{
    font-size: josefinSans;
    color: #a2a391;
}